* {
    max-width: 1366px;
    margin: 0 auto;
   padding: 0;
}


header {  
    display: flex; 
    height: 144px;
    background: rgb(248, 246, 246);
}

header h1 {  
    margin-left: 7.5%;
    align-self: center;
}

header h2 {
    flex-basis: 982px;
    align-self: center;
    font-family: "BigNoodleTitling";
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
}

header h3 {
    align-self: center;
    margin-right: 150px;
}
header ul {
    list-style: none;
}

.container { 
    position: relative;
}
.we {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 708px;
    background: rgb(53, 53, 53);
}
.we :first-child {
    margin: 0px;
    font-family: "BigNoodleTitling";
    font-size: 72px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 10px;
}
.we p {
    margin: 0px;
    font-family: "BigNoodleTitling";
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 2px;
}

.mouse {
    position: absolute;
    text-align: center;
    top:8.7%;
}
.we li {
    list-style: none;
    font-family: "BigNoodleTitling";
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 2px;
    
}

.about {
    height: 571px;
    background: rgb(255, 255, 255);
}

.about_first {
    display: flex;
    flex-direction: column;
}

.ab {
    font-family: "BigNoodleTitling";
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 2px;
    margin-top: 95px;
}
.ab_line {

    margin: 0 auto;


}

.lorem {
    font-family: "Roboto";
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0px;
    margin-top: 27px;
    text-align: center;
    width: 580px;

}

.about-second {
    display: flex;
    flex-direction: row;
    max-width: 1004px;
    max-height: 197px;
    margin: 0 auto;
    margin-top: 57px; 
    
}

.about-second p {
    vertical-align: middle;
    text-align: center;
}
.about-second p:first-child {
        
    margin-top: 36px;
}


.image {
    height: 57px;
    justify-content: center
}

.section {
    background: rgb(235, 235, 235);
    width: 321px;
    height: 196px;
   

}
.about-text {
    
    font-family: "Roboto";
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;  
    font-weight: bold;
    margin-top:24px; 
  
}
.about-lorem {
    font-family: "Myriad Pro";
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-top: 18px;
    margin-left: 36px;
    margin-right: 36px;
}

.watch {
    height: 431px;
}
.first {
    float: left;
    width : 50%;
    background: rgb(23,31,35);
    height: 100%;
}
.second {
    height: 100%;
    float: left;
    width : 50%;
}
.our {
    height: 315px;
    background: rgb(255, 255, 255);
}
.red {
    width: 100%;
    height: 524px;
    background-color:rgb(232,76 ,61 ); 
    
}
.themeforest {
    width: 100%;
    height: 241px;
    background-color: rgb(28,28,28);
}
.whoweare {
    width: 100%;
    height: 813px;
    background-color: rgb(255, 255, 255);
}
.somefeatures {
    height: 384px;
    background-color: rgb(23, 31, 35);
}
.blog {
    width: 100%;
    height: 796px;
    background-color: #171f23;
}
.chose { 
    width: 100%;
color: #171f23;
height: 706px;
}
.get {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 694px;
}
.locate {
    width: 100%;
    background-color: #0c1215;
    height: 84px;
}
footer {
    width: 100%;
    background-color: #171f23;
    height: 239px;
}



@font-face {
    font-family: "BigNoodleTitling";
    src: url("fonts/12458.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}
@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/Myriad Pro.otf");
}